.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
   
    
}

.detalhe{
    margin-left: 350px;
    width: 60%;
}

.Conteiner{
    margin-left: 350px;
    color: black;
    font-size: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.Titulo{
    display: flex;
    font-weight: bold;
    font-size: 25px;
}

.underline{
    border-bottom: 5px solid orange;
}

.Produto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

}

.iconedigix{
    display: flex;
    align-items: center;
    width: 60px;
    height: 34px;
}

.linha{
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    height: 50px;
    box-shadow: rgba(44, 0, 106, 0.3) 0px 10px 10px, rgba(44,0, 106, 0.22) 0px 10px 10px;
}

.nome{
    display: flex;
    align-items: center;

    font-size: 24px;
}

.nome img{
    margin-right: 15px;
}

.caminhao{
    width: 34px;
    height: 34px;
    margin-right: 15px;
}

.caixabox{
    width: 34px;
    height: 34px;
}

button{
    display: flex;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



a{
    text-decoration: none;
}

.buttonPedidos {
    background-color: #00C4CC;
    color: white;
}

.buttonPedidos1 {
    background-color: #DA3ADC;
    color: white;
}

.buttonPedidos2 {
    background-color: #fc671d;
    color: white;
}

.buttonPedidos:hover{
    background-color: #037b80;
    transition: 0.5s ease-in-out;
} 

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.butoes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}