:root {
  --laranja: #FC671D;
  --magenta: #D34AF4;
  --cinza: #faf6f7;
  --cinza-escuro: #888;
  --ciano: #0BC0D3;
  --base: #2c006a;
  --branco: #fff;
  --preto: #000;
  --sombra-base: rgba(44, 0, 106, 0.4);
  --sombra-preta: rgba(0, 0, 0, 0.4);
}


.historicoCompraSortDesc {
  transform: none;
  cursor: pointer;
}
.historicoCompraSortAsc {
  transform: scale(1, -1);
  cursor: pointer;
}

.perfil {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-right: 75px;
}

.icone-perfil {
  margin-right: 15px;
}

.historicoCompraBarraPesquisa{
  display: flex;
  justify-content: end;

}

.historicoCompraTela {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Adiciona centralização horizontal */
}

.historicoCompraContainer {
  padding: 5px; 
  border-radius: 10px;
  max-width: 900px;
  width: 100%; /* Garante que o container ocupe toda a largura disponível */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}



.historicoCompraCabecalho {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 1.5em;
  padding-top: 5px;
}
  
.historicoCompraCabecalhoIcone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.historicoCompraCabecalhoIcone img {
  display: block;
  width: 40px;
}

.historicoCompraCabecalhoUnderline {
  width: 100%;
  height: 2px;
  background-color: red;
  margin-top: 1px;
}
  
.imagemestoque{
  display: flex;
  height: 30px;
  width: 30px;
  padding-right: 10px;    
}

.pesquisa {
  padding: 8px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.iconesort{
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
}


.historicoCompraBarraPesquisaBuscaContainer {
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.historicoCompraBarraPesquisaBuscaContainer input {
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  height: 25px;
  background-color: transparent;
}

.historicoCompraBarraPesquisaBuscaContainer select {
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  height: 25px;
  background-color: transparent;
}


.historicoCompraBarraPesquisaBuscaContainer img {
  width: 30px;
  height: 30px;
}

.historicoCompraBarraPesquisaBuscaContainer button {
  border: none;
  background-color: var(--magenta);
  color: var(--branco);
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.historicoCompraBarraPesquisaBuscaContainer button:hover {
  background-color: var(--laranja);
}
  

.historicoCompraTabela {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 30px;
  box-sizing: border-box; 
}

.historicoCompraTabelaHead {
  /* background: white; */
  font-weight: bold;
  padding: 5px;
}

.historicoCompraTabelaRowheader {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  border-radius: 10px;
  /* background-color: #fff; */
}

/* alinhar na centro na vertical */
.historicoCompraTabelaRow {    
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 10px;
  border-left: 6px solid #00BCD4; /* Azul claro na lateral */
  /* background-color: #fff; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.historicoCompraTabelaCell {
  text-align: center;
  flex: 1;
  padding: 5px;
  font-size: 20px;
}

.historicoCompraTabelaCell.itens {
  min-width: 300px;
}

.historicoCompraTituloColIdNome {
  /* diminuir tamanho da fonte */
  font-size: 0.8em;
}

.historicoCompraLocalItens {
  display: flex;
  align-items: center;
}

.historicoCompraIconeItens {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.historicoCompraIconeItens img {
  width: 20px;
  margin-right: 10px;
}

.historicoCompraItens {
  flex: 2;
  display: flex;
  text-align: left;
  flex-direction: column;
}  

.sort-icon {
  width: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.acoes {
  display: flex;
  justify-content: flex-end;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: var(--magenta);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.pagination .anterior:hover, .proxima:hover {
  background-color: var(--laranja);
}

.pagination span {
  font-size: 18px;    
  font-weight: bold;
}

.paginas{
  display: flex;
  gap: 10px;
}


/* Media Queries para Responsividade */
@media (max-width: 768px) {
   .historicoCompraContainer {
   padding: 10px;
   }
  
   .historicoCompraCabecalho {
   flex-direction: column;
   align-items: flex-start;
   margin-left: 0;
   font-size: 1.2em;
   }
  
   .historicoCompraTabelaRowheader, .historicoCompraTabelaRow {
   flex-direction: column;
   align-items: flex-start;
   text-align: left;
   }
  
   .historicoCompraTabelaCell {
   font-size: 16px;
   padding: 10px 0;
   }
  
   .historicoCompraTabelaCell.itens {
   min-width: 100%;
   }
  
   .historicoCompraBarraPesquisaBuscaContainer {
   flex-direction: column;
   gap: 10px;
   }
  
   .historicoCompraBarraPesquisaBuscaContainer input, 
   .historicoCompraBarraPesquisaBuscaContainer select, 
   .historicoCompraBarraPesquisaBuscaContainer button {
   width: 100%;
   }
  
   .pagination a, .pagination span {
   font-size: 16px;
   }
  }
  
